@charset "utf-8";
body{font-family:sans-serif;text-align:center;margin:0;font-size:16px}.smooth{transition:all .2s}hr{margin:2.5em auto}hr.mediumwidth{margin:2.5em auto}.mediumwidth{font-size:16px;width:40%;margin-left:30%;margin-top:.3em;margin-bottom:.3em}@media(max-width:870px){.mediumwidth{width:70%;margin-left:15%}.row [class*='c']{width:100%;display:block;margin:1% auto}.row:last-child column{margin-bottom:2.5em}}@media(max-width:520px){.mediumwidth{width:100%;margin-left:0}hr.mediumwidth{width:auto}}i,button{font-family:Lucida Sans Unicode,Lucida Grande,sans-serif}button{background:#aaa;box-shadow:3px 3px #000;color:#fff;font-size:2.5em;padding:15px 40px 16px;text-decoration:none;margin:.3em .7em;cursor:pointer;border:0}button.btn-a{background:#0ae}button.btn-a:hover{background:#09d}button.btn-a:active{background:#08b}button.btn-b{background:#3c5}button.btn-b:hover{background:#2b4}button.btn-b:active{background:#2a4}button.btn-c{background:#d33}button.btn-c:hover{background:#c22}button.btn-c:active{background:#b22}button.btn-small{padding:7px 19px;font-size:16px}.row{line-height:2em;margin-top:2%;height:2em}column{float:left;margin:auto 1%}.ie column{margin:auto .7%}.c10{width:98%}.c9{width:88%}.c8{width:78%}.c7{width:68%}.c6{width:58%}.c5{width:48%}.c4{width:38%}.c3{width:28%}.c2{width:18%}.c1{width:8%}h1{font-size:4em;margin:0}h1.title{font-size:7em}h2{font-size:2em}ico{font-size:2.04em}.ie .mediumwidth{width:70%;margin-left:0}.ie .mediumwidth hr{margin:100px auto;padding-left:200px}textarea,input{outline:0;padding:6px;font-family:sans-serif}textarea:focus,input:focus{border:1px solid #5ab}textarea,input[type='text']{width:13em}.addon-front{padding:6px 11px 6px 10px;margin-right:-2px;border-right:0}textarea,input,.addon-front{border:1px solid #ccc;font-size:.8em}message{display:block;padding:2em 0;background:#ACE}message.warning{background:#D99}message.great{background:#9D9}.navbar{width:100%;background:black;color:white;text-align:left;height:1.5em;padding:1em 0 .6em}.navbar a{text-decoration:none}.pagename{color:white;padding:0 1em 0 2em;font-weight:bold}.navbar-link{padding:.5em;color:#aaa}.navbar-link:hover{color:white}.navbar input,.navbar button{margin-top:-20px}@media(max-width:500px){.navbar a{text-align:center;display:block}.navbar{height:7.5em}}table{width:100%;border-spacing:0}.table th,.table td{padding:.5em;line-height:1.4em;text-align:left}tbody tr:nth-child(2n-1){background:#CCC}
html {
  margin: 0;
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: #000; }

.video__video-overlay {
  margin: 0;
  padding: 0;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  background: url(../img/overlay.png); }

.meditation {
  width: 100%;
  display: block;
  position: absolute;
  top: 50px;
  z-index: 10; }
  .meditation .meditation__title {
color: #E5E5E5;
margin: 0 auto;
width: 100%;
overflow: hidden;
font-size: 44px;
text-align: center;
text-shadow: 0 0 17px #FCFCFC;
font-weight: 100;
letter-spacing: 1px; }

.course {
  width: 100%;
  position: absolute;
  display: block;
  top: 50%;
  height: 520px;
  z-index: 2;
  margin: -270px auto 0 auto;
} 
.course__container {
  width: 100%;
  margin: 0 auto
}
.course__item {
width: 33%;
height: 200px;
color: #FFFFFF;
font-size: 150px;
float: left;
margin-bottom: 75px;
text-shadow: 0 0 15px #555;
}
.course__item.course__item--rub {
  width: 100%;
  font-size: 190px;
  margin-bottom: 95px;
}
.course__item.course__item--rub span {
line-height: 1;
}
.course__item span {
  display: block;
  font-size: 23px;
  font-weight: 100;
  line-height: 0;
}
.footer {
  position:absolute;
  background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65)));
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
  z-index: 101;
  bottom: 0px;
  width: 100%;
  overflow: hidden;
  height: 70px;
}
.footer__social {
  margin-top: 10px;
  width: 40%;
  margin: 0 auto;
  display: inline-block;
}
.b-share_theme_counter .b-share__handle {
border-radius: 0 !important;
}
.b-share_theme_counter .b-share-icon {
  height: 24px !important; 
  width: 24px !important;
}
.b-share-counter {
  line-height: 20px !important;
}
.b-share-counter {
  margin: 3px 6px 1px 3px;
}
.footer__social_text {
  color: #fff;
  margin-bottom: 6px;
  font-weight: 100;
}
.footer__copy {
  width: 40%;
  line-height: 1.2;
  float: right;
  right: 0;
  margin-top: -45px;
  text-align: right;
  padding-right: 30px;
  color: #fff;
  font-weight: 100;
}

.footer__copy {
float: right;
margin-top: -45px;
right: 0;
bottom: 10px;
text-align: right;
padding-right: 30px;
color: #eee;
font-weight: 100;
position: absolute;
width: 30%;
overflow: hidden;
text-shadow: 1px 1px 7px #fff;
}

.footer__copy a {
  color: #eee;
  text-decoration: underline;
}
/*Аудио*/



#pButton{
position: absolute;
top: 10px;
outline: none;
right: 20px;
box-shadow: none;
z-index: 10;
background: transparent;
border: none;
margin: 34px 40px;
padding: 0;
opacity: 0.5;
}
#pButton:hover {
  opacity: 1;
}
#pButton.ion-android-volume-mute {
  padding-right: 18px;
}

.b-share_theme_counter .b-share-btn__wrap {
position: relative;
float: left;
margin-left: 8px;
}